html {
    background-image: url('bgloop.gif');
    background-repeat: none;
    background-size:cover;
    min-height: 100%;
}
body, input, button{
    font-family: Arial, Helvetica, sans-serif ;
    font-size: x-large;
    color:rgb(70, 70, 70);
}
h1, h2 {
    text-align: center;
    padding:0em;
    margin:.25em;
}
#container {
    border: 2px solid rgba(89, 89, 89, 0.708);
    max-width:550px;
    margin: 2em auto;
    padding:1em 0em;
    border-radius:.5em;
    background-color: rgba(255, 255, 255, 0.509);
}
#container:hover {
    backdrop-filter: blur(5px);
    transition: backdrop-filter .5s ease;
}
#header{
    text-align:center;
}
#calendar {
    max-width:650px;
    margin: 1em auto;
    padding:0;
    text-align: center;
}
hr {
    padding:0;
    margin:0;
}
ul {
    list-style: none;
    margin:0em;
    padding:0;
    margin:0;
}
li {
    margin:0em;
    padding:0em;
}
label {
    text-align:right;
    margin:0em;
    padding:0em;
    width:3em;
    display:inline-block;
    color:rgb(70, 70, 70, .75);
}
/* buttons */
button {
    margin:0em;
    border: none;
    height: auto;
    border-radius:.25em;
    background-color:rgba(255, 255, 255, 0.5);
    transition: all .2s ease;
}
.headerButton {
    font-size:medium;
    width:7em;
    border:1px solid black;
    margin:1em;
    padding:.5em;
    background-color:rgba(255, 255, 255, .5);
}
.headerButton:hover{
    background-color:rgba(255, 255, 255, 1);
}
.headerButton:active{
    background-color:rgb(170, 213, 170);
}
button {
    background-color:rgba(255, 255, 255, 0.5);
}
button.save {
    padding:0;
    background:none;
    filter:  grayscale(100%) contrast(100) opacity(20%);
}
button.save:hover {
    filter:  grayscale(100%) contrast(100) opacity(50%);
}
/* form and input field styles */
input {
    border:none;
    margin:0em;
    padding:.25em;
    transition: all .2s ease;
    width:12em;
}
input:focus {
    color:rgb(70, 70, 70) !important;
}
.past input{
    background-color: rgba(255, 255, 255, 0.2);
    color:rgb(82, 82, 82, .25);
}
.past input:hover {
    background-color:rgba(255, 255, 255, 0.523);
    color:rgb(70, 70, 70, .75);
}
.present input {
    background-color:rgb(110, 193, 110, 0.255);
}
.present input:hover {
    background-color:rgb(110, 193, 110, 0.5);
}
.future input {
    background-color: rgba(255, 255, 255, 0.2);
}
.future input:hover {
    background-color:rgba(255, 255, 255, 0.523);
}